
<div  style="">
  <div align="center" style="width: fit-content;
    text-align: left;
    margin-left: auto;
    margin-right: auto;">



  <div translate>MainPage.Div</div>
    <li translate>MainPage.Line1</li>
    <li translate>MainPage.Line2</li>
  </div>
</div>

<br>

<ngx-qrcode id="qrCode" [qrc-element-type]="elementType" [qrc-value] = "value" style="display: flex; justify-content: center; text-align: center;">
</ngx-qrcode>



  <!--<ul >-->
    <!--<li  *ngFor="let isim of list">-->
      <!--<a *ngIf="isim.length > 0;else isNull">{{isim}}</a>-->

    <!--</li>-->
    <!--<mat-checkbox>Check me!</mat-checkbox>-->
  <!--</ul>-->



<!--<ng-template #isNull>-->

<!--Boş Kayıt-->

<!--</ng-template>-->



