<div class="centerelement" >


      <h1 align="center"><b translate>Legal.Line1</b></h1>

  <ol>
    <li>
      <p translate>Legal.Line2</p>
    </li>
    <li>
      <p translate>Legal.Line3</p>

      <ul>
        <li  translate>Legal.Line4</li>
        <li translate>Legal.Line5</li>
        <li translate>Legal.Line6</li>
        <li translate>Legal.Line7</li>
        <li translate>Legal.Line8</li>
        <li translate>Legal.Line9</li>
      </ul>
    </li>
    <br>
    <li>
      <p translate>Legal.Line10</p>

      <ul>
        <li translate>Legal.Line11</li>
        <li translate>Legal.Line12</li>
        <li translate>Legal.Line13</li>
        <li translate>Legal.Line14</li>
        <li translate>Legal.Line15</li>
        <li translate>Legal.Line16</li>
        <li translate>Legal.Line17</li>
      </ul>
    </li>
    <br>
    <li>
      <p translate>Legal.Line18</p>
    </li>
    <br>
    <li>
      <p translate>Legal.Line19</p>
    </li>
    <br>
    <li>
      <p translate>Legal.Line20</p>
    </li>
    <br>
    <li>
      <p translate>Legal.Line21</p>
    </li>
    <br>
    <li>
      <p translate>Legal.Line22</p>
    </li>
  </ol>
</div>
