<div class="centerelement" >
  <h1  align="center"><b  translate>Privacy.Line1</b></h1>
  <ul >

   <li style="text-align: left" translate>Privacy.Line2</li>
    <ul translate>
      <br />
      <b translate>Privacy.Line3</b>Privacy.Line4</ul>
    <br />
    <ul translate>
      <b translate>Privacy.Line5</b>Privacy.Line6
    </ul>
    <br />
    <ul translate>
    <b translate>Privacy.Line7</b>Privacy.Line8 </ul>
    <br />
    <ul translate>
    <b translate>Privacy.Line9</b>Privacy.Line10
    </ul>
    <br />
    <ul translate>
      <b translate>Privacy.Line11</b>Privacy.Line12
  </ul>
    <br />
    <ul translate>
      <b translate>Privacy.Line13</b>Privacy.Line14
  </ul>
    <br />
    <ul translate>
      <b translate>Privacy.Line15</b>Privacy.Line16
    </ul>

  </ul>

</div>
