.centerelement {
  position: center;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  text-align: left;
  padding: 10px;
  border-radius: 25px;
  & > ul{
    max-height: 450px;
    overflow-y: auto;
  }

}

li {
  list-style-type:none;
  text-align: center;
}
